@charset "utf-8";
/* CSS Document */


body {
	background-image: url("back.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
}

#container {
	height: 1000px;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#nav {
	height: 75px;
	width: 1024px;
	table {
		width: 1024px;
		border: 0;
	}
	td {
		text-align: center;
	}
}

#content-index {
	width: 682px;

	text-align: center;

	float: left;

	table {
		width: 400px;
		border: 0;
		stroke: white;
	}

	td {
		width: 200px;
	}

	th {
		color: chocolate;
		font-size: 22px;
	}

	a:link {
		color: white;
	}
	a:visited {
		color: pink;
	}
}

#home-photo {
	width: 341px;
	float: left;
	table {
		width: 341px;
		border: 0;
	}

	td {
		text-align: center;
	}
}

#content-photos {
	width: 1024px;

	table {
		width: 1024px;
		border: 0;
	}

	td {
		width: 341px;
		text-align: center;
	}
}

#content-projects {
	width: 1024px;
	table {
		width: 1024px;
		border: 0;
	}
}